@import "variables";
@import 'bootstrap-grid';
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
  font-family: 'Rubik', sans-serif;
  color: $white;
  background-color: $black;
}

a{
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($black, 10%);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include respond-to(mobile) {
    padding-right: 0px;
    padding-left: 0px;
  }

  @include respond-to(tablet) {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.d-flex{
  display: flex;
}

.align-center{
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.btn{
  width: 133px;
  height: 42px;
  padding: 0px 40px 0px 40px;
  gap: 10px;
  border-radius: 24px;
  opacity: 0px;
  border: none;
  cursor: pointer;
}

.btn-primary{ 
  background-color: $green;

  &:hover{
    background-color:darken($green, 10%);
  }

  color: $black;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
}

.app-container {
  display: flex;
  width: 100%;
}

.sidenav {
  width: 250px; 
  transition: width 0.3s ease;

  @include respond-to(mobile) {
    width: 0; 
  }

  &.collapsed {
    width: 0; 
  }
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;

  @include respond-to(mobile) {
    margin-left: 0; 
  }

  .sidenav:not(.collapsed)+& {
    margin-left: 250px;
  }
}

.sidebar-menu {
  .sidebar-link {
    font-family: DM Sans;
  }
}
.p-0{
  padding: 0!important;
}
.p-30{
  padding: 30px;

  @include respond-to(tablet) {
      padding: 20px;
    }
  
  
    @include respond-to(mobile) {
      padding: 10px;
    }
}

.artist {
  .artist-list {
    grid-template-columns: repeat(3, 1fr);
    @include respond-to(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }


    @include respond-to(mobile) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
}

.alert {
  font-family: 'Rubik', sans-serif;
}